<div class="dcol-sm-12 col-xs-12 col-md-12 col-lg-12 text-center">
    <div class="title">Server stats</div>
    <br>
</div>

<p> The server runs in a local area network and has the ip: <b><%= ip %></b>.</p>
<p> The temperature of the processor: <b><%= temp %>°C</b>.</p>
<p> The frequency of the processor: <b><%= frq %>MHz</b>.</p>
<p> The voltage of the processor: <b><%= volts %>V</b>.</p>
<p> The amount of the RAM memory: <b><%= ram %>MB</b>.</p>
<p> The amount of the VIDEO memory: <b><%= video %>MB</b>.</p>