<div class="dcol-sm-12 col-xs-12 col-md-12 col-lg-12 text-center">
    <div class="title">Server stats</div>
    <br>
</div>
<fieldset class="field">
    <div class="stats">
        <% if(ip != ipGlobal){ %>
            <p> The server runs in a local area network and has the ip: <b><%= ip %></b>.</p>
        <% } %> 
        <p> The global ip of the serves is: <b><%= ipGlobal %></b>.</p>
        <hr />
        <p> The temperature of the processor: <b><%= temp %> °C</b>.</p>
        <p> The frequency of the processor: <b><%= frq %> MHz</b>.</p>
        <p> The voltage of the processor: <b><%= volts %> V</b>.</p>
        <hr />
        <p> The percent of RAM memory used: <b><%= percentage %>%</b>.</p>
        <p> The amount of the RAM memory: <b><%= ram %> MB</b>.</p>
        <p> The amount of the VIDEO memory: <b><%= video %> MB</b>.</p>
        <hr />
        <p> The percent of SD Card freespace for server: <b><%= dfPrecentage %></b>.</p>
        <p> The total amout of SD Card for server: <b><%= dfTotal1000 %> GB</b>.</p>
        <p> The amout of SD Card avaible for server: <b><%= dfAvail %> GB</b>.</p>
        <p> The amout of SD Card used for server: <b><%= dfUsed %> GB</b>.</p>


    </div>
</fieldset>